html {
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
}

body {  
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /*linear-gradient(90deg, #6a6384, #5cc1aa, #81c9ac);*/
}

button {
    font-family: Montserrat;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-color: transparent;
    border-radius: 3px;
    background-color: rgba(176, 47, 67, .7) !important;
    color: white;
    box-shadow: rgba(255, 255, 255, .7) -.5px -.5px 10px 1px;
    
}

/* main container that holds both buttons and grid */
.mainContainer {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 5% 80% 10%;
    grid-template-areas: 
                "title"
                "buttons"
                "grid"
                "designedBy";
                
    justify-items: center;
    align-items: flex-start;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    background-color: transparent !important;
}

.title {
    font-family: lobster;
    margin-bottom: 170px;
    grid-area: "title";
    height: 7vmin;
    width: 80vmin;
    align-self: flex-start;
    text-align: center;
    font-size: 4vh;
    background-color: transparent !important;
    color: #ff9d00ff;
    text-shadow: white -.5px -.5px 2px;
}

@media screen and (min-width: 1831px) /* Max Desktop View */
{
    .btn-container {
        display: grid;
        grid-area: "buttons";
        display: flex;
        max-width: 1240px;
        height: 4vh;
        justify-content: space-between;
        align-self: flex-end;
        background-color: transparent !important;

    }
}

@media screen and (max-width: 1830px)
{
.btn-container {
    display: grid;
    grid-area: "buttons";
    display: flex;
    width: 65%;
    height: 5vh;
    justify-content: space-between;
    align-self: flex-end;
    background-color: transparent !important;


}
}

@media screen and (max-width: 1200px)
{
.btn-container {
    display: grid;
    grid-area: "buttons";
    display: flex;
    width: 80vw;
    height: 100%;
    justify-content: space-between;
    align-self: flex-end;

}
}


@media screen and (min-width: 1201px) {
    .btnClear {
        width: 15vw;
        font-size: 2vh;
        text-align: center;

    }
}

@media screen and (max-width: 1200px) {
    .btnClear {
        width: 15vw;
        font-size: 1.5vh;
        text-align: center;

    } 
}
@media screen and (min-width: 1201px) {
    .colorOne {
        width: 10vw;
        font-size: 1.5vh;
        text-align: center;

    }
}

@media screen and (max-width: 1200px) {
    .colorOne {
        width: 10vw;
        font-size: 1vh;
        text-align: center;

    }
}
@media screen and (min-width: 1201px) {
    .colorTwo {
        width: 10vw;
        font-size: 1.5vh;
        text-align: center;

    }
}

@media screen and (max-width: 1200px) {
    .colorTwo {
        width: 10vw;
        font-size: 1vh;
        text-align: center;

    }
}
@media screen and (min-width: 1201px) {
    .colorThree {
        width: 10vw;
        font-size: 1.5vh;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .colorThree {
        width: 10vw;
        font-size: 1vh;
        text-align: center;

    }
}
@media screen and (min-width: 1201px) {
    .custom {
        width: 15vw;
        font-size: 2vh;
        text-align: center;
    }

}

@media screen and (max-width: 1200px) {
    .custom {
        width: 15vw;
        font-size: 1.5vh;
        text-align: center;

    }
}




p {
    color: white !important;
    background-color: transparent !important;
    font-size: 20px;
}


.designedBy {
    font-family: Montserrat;

    grid-area: "designedBy";
    position: relative;
    background-color: #220024 !important;
    width: 100%;
    height: 100%;
    align-self: center !important;
    border-top: 3px solid #ff9d00;
    margin-top: 40px;
}

#etchContainer {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    background-color: transparent !important;
}


#etchGrid {
    grid-area: "grid";
    position: relative;
    z-index: 1;
    display: grid;
    background-color: rgba(255, 255, 255, 0.85) !important;
    width: 80vmin; 
    height: 80vmin;
   
}


.grid {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}




@media screen and (min-width: 1201px) {
    .designedBy {
        position: relative;
        grid-area: "designedBy";
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .designedBy {
        position: relative;
        margin: 10px;
        align-self: flex-start;
        grid-area: "designedBy";
        text-align: center;
    }
}

 